# Virtual environment
/venv/
.venv/
env/

# Large Model Weights (GGUF, Pt, Safetensors, bin)
*.gguf
*.deb
*.bin
*.pt
*.pth
*.safetensors
checkpoint-*/
optimized_mistral_weights/

# Build & Compilation artifacts
/llama.cpp/
**/build/
**/bin/
*.o
*.a
*.so

# Python caching & scratch scripts
_*.py
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# System telemetry and logs
/wandb/
*.log
.DS_Store
.env
.env.local